@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background: url("../images/Background.png") no-repeat center center fixed;
  background-size: cover;
  line-height: 1.6;
  padding: 0 1rem;
  color: white;
}

/*Title of the page*/
.mainTitle h1 {
  text-align: center;
  font-weight: 300;
  margin: 2rem 0;
  font-size: 4rem;
}

/*Search bar and filter section*/
.search-bar {
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-bar input {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  width: 400px;
  height: 50px;
  font-size: 1rem;
  background-color: rgba(68, 176, 228, 0.2);
  color: white;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);
}

#search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#search-button img {
  width: 30px;
  height: auto;
}

#hamburger-icon {
  background: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);
}

#filter-menu {
  position: absolute;
  top: 3rem;
  padding: 1rem;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 100;
}

#filter-menu.visible {
  display: flex;
}

#filter-menu button {
  background: #44b0e4;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

/*Movie/Series section*/
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 4rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.carousel-section h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 0 1rem;
  scroll-snap-type: x mandatory;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 2rem 0;
  scroll-behavior: smooth;
  max-width: 90%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.movie-card {
  flex: 0 0 auto;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card a {
  color: white;
}

.movie-card img {
  width: 100%;
  border-radius: 20px;
}

.movie-card:hover {
  transform: scale(1.1);
}

.carousel-arrow {
  background: rgba(68, 176, 228, 0.2);
  border-radius: 20px;
  color: #44b0e4;
  border: none;
  font-size: 2rem;
  padding: 2rem 1.5rem;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s ease;
}

.carousel-arrow:hover {
  background: rgba(68, 176, 228, 0.3);
}

.carousel-arrow.left {
  position: absolute;
  left: 0.5rem;
}

.carousel-arrow.right {
  position: absolute;
  right: 0.5rem;
}

.genre-carousel {
  margin-top: 10rem;
}

.genre-carousel h2 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

/*Movie Tinder*/
.tinder-section h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 5rem;
  text-align: center;
}

.tinder-container {
  position: relative;
  width: 350px;
  height: 650px;
  margin: 2rem auto;
}

#tinder-card-stack {
  position: relative;
  width: 100%;
  height: 100%;
}

.movie-card.tinder {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.movie-card.tinder img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  box-shadow: 10px 10px 10px black;
}

.movie-card.tinder h3 {
  text-align: center;
  margin: 1rem;
  font-weight: 400;
}

.tinder-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tinder-buttons button {
  background: rgba(68, 176, 228, 0.2);
  border: 2px solid #44b0e4;
  font-size: 2rem;
  padding: 1rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.tinder-buttons button:hover {
  background: rgba(68, 176, 228, 0.4);
}

/*Background for the Movie Tinder*/
.tinder-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tinder-bg-card {
  position: absolute;
  width: 250px;
  height: 440px;
  border-radius: 20px;
  opacity: 0.7;
}

.tinder-bg-card.red {
  background-color: #d2232a;
  transform: rotate(-20deg);
  top: 50px;
  left: -50px;
}

.tinder-bg-card.blue {
  background-color: #44b0e4;
  transform: rotate(20deg);
  top: 50px;
  left: 150px;
}

.popup-message {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #44b0e4;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0.9;
  z-index: 1000;
  animation: fadeInOut 1.5s ease;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}

/*Pop up modal, trailer*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: rgba(68, 176, 228, 0.5);
  display: flex;
  padding: 2rem;
  border-radius: 20px;
  width: 80%;
  max-width: 900px;
  gap: 2rem;
}

.modal-trailer {
  flex: 2;
}

.modal-trailer iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
}

.modal-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.modal-info h2 {
  margin-bottom: 1rem;
}

.modal-info p {
  margin-bottom: 0.5rem;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

/*Responsiveness*/

@media (max-width: 900px) {
  .mainTitle h1 {
    font-size: 3rem;
    margin: 1.2rem 0;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 2rem;
    padding: 1rem;
  }

  .carousel-section h2,
  .genre-carousel h2,
  .tinder-section h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .genre-carousel {
    margin-top: 2rem;
  }

  .carousel {
    gap: 1rem;
    padding: 1rem 0;
    max-width: 100%;
  }

  .movie-card {
    width: 160px;
    border-radius: 14px;
  }

  .movie-card h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .movie-card .rating {
    font-size: 0.95rem;
  }

  .movie-card img {
    border-radius: 14px;
  }

  .tinder-container {
    width: 250px;
    height: 400px;
  }

  .tinder-section {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .tinder-bg-card {
    width: 160px;
    height: 260px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0 0.2rem;
  }

  .mainTitle h1 {
    font-size: 2rem;
    margin: 0.7rem 0;
  }

  .search-bar {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .search-bar input {
    width: 60vw;
    min-width: 100px;
    max-width: 220px;
    font-size: 0.95rem;
    height: 38px;
    padding: 0.3rem 0.7rem;
  }

  #search-button img {
    width: 22px;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
  }

  .carousel-section h2,
  .genre-carousel h2,
  .tinder-section h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    font-size: 1.5rem;
  }
  .genre-carousel {
    margin-top: 1rem;
  }

  .carousel {
    gap: 0.5rem;
    padding: 0.5rem 0;
    max-width: 100%;
  }

  .movie-card {
    width: 100px;
    border-radius: 10px;
  }

  .movie-card h3 {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
  .movie-card .rating {
    font-size: 0.75rem;
  }
  .movie-card img {
    border-radius: 10px;
  }

  .carousel-arrow {
    font-size: 1.2rem;
    padding: 0.7rem 0.5rem;
    border-radius: 10px;
  }

  .tinder-container {
    width: 160px;
    height: 260px;
    margin-bottom: 100px;
  }

  .tinder-section {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .tinder-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  .tinder-bg-card {
    width: 90px;
    height: 140px;
    border-radius: 10px;
  }

  .modal-content {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 98vw;
    max-width: 98vw;
  }

  .modal-trailer iframe {
    height: 160px;
  }
}
