#logo {
  width: 5%;
  height: 5%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center; s
  padding: 20px;

  color: white;
  gap: 0px;
  flex-wrap: nowrap;
}

.logo-container img {
  height: 50px;
  display: block;
}

.footer-link {
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: white; 
}



.footer-link:hover {
    text-decoration: underline;
    color: #44B0E4; 
  }

.divider {
  background-color: white;
  display: inline-block;
}

.divider.small {
  width: 1px;
  height: 20px;
}
.divider.big {
  width: 2px;
  height: 40px;
  background-color: white;
  margin: 0 10px; 
}
