#reviews-text h2,
#discovermovies-text h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
#reviews-text {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.reviews-container {
  position: relative;
  width: 100%;
  height: 1250px;
}

.review-box {
  position: absolute;
  border-radius: 15px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.review-header {
  display: flex;
}

.user-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

.username {
  text-align: center;
}

.review-1 {
  top: 150px;
  left: 80px;
  width: 320px;
  height: 180px;
  background-color: #d2232a;
  opacity: 70%;
}

.review-1 .user-img img {
  margin: 3.2px;
  width: 80px;
  height: 90px;
}

.review-1 .username {
  font-size: 9px;
}

.review-1 .movie-title,
.review-1 .rating {
  font-size: 13px;
  margin-top: 14px;
  font-weight: bold;
}

.review-1 .review-title {
  font-size: 13px;
  padding-right: 3.2px;
  font-weight: bold;
}

.review-1 .review-content {
  font-size: 11px;
  margin-top: 3.2px;
  border-radius: 3.2px;
  padding-right: 3.2px;
  line-height: 0.96;
}

.review-1 .top-line {
  display: flex;
  align-items: center;
  gap: 3.2px;
}

.review-2 {
  top: 550px;
  left: 200px;
  width: 240px;
  height: 135px;
  background-color: #44b0e4;
  opacity: 60%;
}

.review-2 .user-img img {
  margin: 3.2px;
  width: 50px;
  height: 60px;
}

.review-2 .username {
  font-size: 10px;
}

.review-2 .movie-title,
.review-2 .rating {
  font-size: 12px;
  margin-top: 8px;
  font-weight: bold;
}

.review-2 .review-title {
  font-size: 12px;
  padding-right: 3.2px;
  font-weight: bold;
}

.review-2 .review-content {
  font-size: 10px;
  margin-top: 3.2px;
  border-radius: 3.2px;
  padding-right: 3.2px;
  line-height: 0.96;
}

.review-2 .top-line {
  display: flex;
  align-items: center;
  gap: 3.2px;
}

.review-3 {
  top: 400px;
  left: 500px;
  width: 400px;
  height: 225px;
  background-color: #44b0e4;
  opacity: 100%;
}

.review-3 .user-img img {
  margin: 3.2px;
  width: 110px;
  height: 120px;
}

.review-3 .username {
  font-size: 13px;
}

.review-3 .movie-title,
.review-3 .rating {
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}

.review-3 .review-title {
  font-size: 15px;
  padding-right: 3.2px;
  font-weight: bold;
}

.review-3 .review-content {
  font-size: 13px;
  margin-top: 3.2px;
  border-radius: 3.2px;
  padding-right: 3.2px;
  line-height: 0.96;
}

.review-3 .top-line {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-4 {
  top: 850px;
  left: 80px;
  width: 280px;
  height: 157.5px;
  background-color: #d2232a;
  opacity: 70%;
}

.review-4 .user-img img {
  margin: 3.2px;
  width: 60px;
  height: 70px;
}

.review-4 .username {
  font-size: 8px;
}

.review-4 .movie-title,
.review-4 .rating {
  font-size: 10px;
  margin-top: 12px;
  font-weight: bold;
}

.review-4 .review-title {
  font-size: 10px;
  padding-right: 5px;
  font-weight: bold;
}

.review-4 .review-content {
  font-size: 10px;
  margin-top: 5px;
  border-radius: 3.2px;
  padding-right: 3.2px;
  line-height: 0.96;
}

.review-4 .top-line {
  display: flex;
  align-items: center;
  gap: 3.2px;
}

.review-5 {
  top: 100px;
  left: 650px;
  width: 360px;
  height: 202.5px;
  background-color: #44b0e4;
  opacity: 90%;
}

.review-5 .user-img img {
  margin: 4.8px;
  width: 80px;
  height: 90px;
}

.review-5 .username {
  font-size: 13.2px;
}

.review-5 .movie-title,
.review-5 .rating {
  font-size: 15.6px;
  margin-top: 12px;
  font-weight: bold;
}

.review-5 .review-title {
  font-size: 14.4px;
  padding-right: 5.4px;
  font-weight: bold;
}

.review-5 .review-content {
  font-size: 13.2px;
  margin-top: 5.4px;
  border-radius: 5.4px;
  padding-right: 5.4px;
  line-height: 1.44;
}

.review-5 .top-line {
  display: flex;
  align-items: center;
  gap: 5.4px;
}

.review-6 {
  top: 1000px;
  left: 600px;
  width: 300px;
  height: 168.75px;
  background-color: #44b0e4;
  opacity: 60%;
}

.review-6 .user-img img {
  margin: 4.8px;
  width: 65px;
  height: 75px;
}

.review-6 .username {
  font-size: 9.6px;
}

.review-6 .movie-title,
.review-6 .rating {
  font-size: 14.4px;
  margin-top: 12px;
  font-weight: bold;
}

.review-6 .review-title {
  font-size: 13.2px;
  padding-right: 4.8px;
  font-weight: bold;
}

.review-6 .review-content {
  font-size: 12px;
  margin-top: 4.8px;
  border-radius: 4.8px;
  padding-right: 4.8px;
  line-height: 1.44;
}

.review-6 .top-line {
  display: flex;
  align-items: center;
  gap: 4.8px;
}

.review-7 {
  top: 300px;
  left: 1140px;
  width: 200px;
  height: 112.5px;
  background-color: #d2232a;
  opacity: 40%;
}

.review-7 .user-img img {
  width: 35px;
  height: 45px;
  margin: 4px;
}

.review-7 .username {
  font-size: 9px;
}

.review-7 .movie-title,
.review-7 .rating {
  font-size: 11px;
  margin-top: 8px;
  font-weight: bold;
}

.review-7 .review-title {
  font-size: 10px;
  font-weight: bold;
}

.review-7 .review-content {
  font-size: 9px;
  margin-top: 6.8px;
  border-radius: 6.8px;
  padding-right: 6.8px;
  line-height: 1.36;
}
.review-7 .top-line {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review-8 {
  top: 700px;
  left: 900px;
  width: 340px;
  height: 191.25px;
  background-color: #d2232a;
  opacity: 90%;
}

.review-8 .user-img img {
  width: 70px;
  height: 80px;
  margin: 6.8px;
}

.review-8 .username {
  font-size: 13.6px;
}

.review-8 .movie-title,
.review-8 .rating {
  font-size: 17px;
  margin-top: 17px;
  font-weight: bold;
}

.review-8 .review-title {
  font-size: 15.3px;
  padding-right: 6.8px;
  font-weight: bold;
}

.review-8 .review-content {
  font-size: 13.6px;
  margin-top: 6.8px;
  border-radius: 6.8px;
  padding-right: 6.8px;
  line-height: 1.36;
}

.review-8 .top-line {
  display: flex;
  align-items: center;
  gap: 6.8px;
}

.review-9 {
  top: 500px;
  left: 1150px;
  width: 260px;
  height: 146.25px;
  background-color: #44b0e4;
  opacity: 70%;
}
.review-9 .user-img img {
  width: 52px;
  height: 65px;
  margin: 5px;
}

.review-9 .username {
  font-size: 10px;
}

.review-9 .movie-title,
.review-9 .rating {
  font-size: 16px;
  margin-top: 12px;
  font-weight: bold;
}

.review-9 .review-title {
  font-size: 12px;
  padding-right: 5px;
  font-weight: bold;
}

.review-9 .review-content {
  font-size: 10px;
  margin-top: 5px;
  border-radius: 4px;
  padding-right: 5px;
  line-height: 1.3;
}

.review-9 .top-line {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-10 {
  top: 800px;
  left: 500px;
  width: 200px;
  height: 112.5px;
  background-color: #d2232a;
  opacity: 40%;
}

.review-10 .user-img img {
  margin: 4px;
  width: 40px;
  height: 50px;
}

.review-10 .username {
  font-size: 8px;
}

.review-10 .movie-title,
.review-10 .rating {
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
}

.review-10 .review-title {
  font-size: 9px;
  padding-right: 4px;
  font-weight: bold;
}

.review-10 .review-content {
  font-size: 8px;
  margin-top: 4px;
  border-radius: 4px;
  padding-right: 4px;
  line-height: 1.2;
}

.review-10 .top-line {
  display: flex;
  align-items: center;
  gap: 4px;
}
