#reviews-text h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 100px;
}

#reviews-text {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.reviews-container {
  width: 100vw;
  height: 1250px;
}

.review-box {
  align-items: center;
  position: absolute;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.review-header {
  display: flex;
}

.username {
  text-align: center;
}

.review-1 {
  top: 150px;
  left: 80px;
  width: 320px;
  height: 180px;
  background-color: rgba(210, 35, 42, 0.6);
}

.review-1 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 50px;
  height: 50px;
}

.review-1 .username {
  font-size: 10px;
}

.review-1 .movie-title,
.review-1 .rating {
  font-size: 15px;
  margin-top: 14px;
  font-weight: bold;
}

.review-1 .review-title {
  font-size: 15px;
  padding-right: 3.2px;
  font-weight: bold;
}

.review-1 .review-content {
  font-size: 13px;
  margin-top: 4px;
  line-height: 1.2rem;
  margin-right: 0.5rem;
}

.review-1 .top-line {
  display: flex;
  align-items: center;
  gap: 3.2px;
}

.review-2 {
  top: 550px;
  left: 200px;
  width: 250px;
  height: 140px;
  background-color: rgba(68, 176, 228, 0.5);
}

.review-2 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 40px;
  height: 40px;
}

.review-2 .username {
  font-size: 10px;
}

.review-2 .movie-title,
.review-2 .rating {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
}

.review-2 .review-title {
  font-size: 12px;
  padding-right: 3px;
  font-weight: bold;
}

.review-2 .review-content {
  font-size: 11px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-2 .top-line {
  display: flex;
  align-items: center;
  gap: 3.2px;
}

.review-3 {
  top: 400px;
  left: 650px;
  width: 400px;
  height: 225px;
  background-color: rgba(68, 176, 228, 1);
}

.review-3 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 80px;
  height: 80px;
}

.review-3 .username {
  font-size: 13px;
}

.review-3 .movie-title,
.review-3 .rating {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.review-3 .review-title {
  font-size: 17px;
  padding-right: 3.2px;
  font-weight: bold;
}

.review-3 .review-content {
  font-size: 14px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-3 .top-line {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-4 {
  top: 850px;
  left: 80px;
  width: 280px;
  height: 157.5px;
  background-color: rgba(210, 35, 42, 0.6);
}

.review-4 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 45px;
  height: 45px;
}

.review-4 .username {
  font-size: 8px;
}

.review-4 .movie-title,
.review-4 .rating {
  font-size: 13px;
  margin-top: 12px;
  font-weight: bold;
}

.review-4 .review-title {
  font-size: 12px;
  padding-right: 5px;
  font-weight: bold;
}

.review-4 .review-content {
  font-size: 11px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-4 .top-line {
  display: flex;
  align-items: center;
  gap: 3.2px;
}

.review-5 {
  top: 100px;
  left: 770px;
  width: 370px;
  height: 205px;
  background-color: rgba(68, 176, 228, 0.7);
}

.review-5 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 65px;
  height: 65px;
}

.review-5 .username {
  font-size: 13px;
}

.review-5 .movie-title,
.review-5 .rating {
  font-size: 18px;
  margin-top: 12px;
  font-weight: bold;
}

.review-5 .review-title {
  font-size: 17px;
  padding-right: 5.4px;
  font-weight: bold;
}

.review-5 .review-content {
  font-size: 14px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-5 .top-line {
  display: flex;
  align-items: center;
  gap: 5.4px;
}

.review-6 {
  top: 1100px;
  left: 970px;
  width: 300px;
  height: 165px;
  background-color: rgba(68, 176, 228, 1);
}

.review-6 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 55px;
  height: 55px;
}

.review-6 .username {
  font-size: 11px;
}

.review-6 .movie-title,
.review-6 .rating {
  font-size: 15px;
  margin-top: 12px;
  font-weight: bold;
}

.review-6 .review-title {
  font-size: 13.2px;
  padding-right: 4.8px;
  font-weight: bold;
}

.review-6 .review-content {
  font-size: 12px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-6 .top-line {
  display: flex;
  align-items: center;
  gap: 4.8px;
}

.review-7 {
  top: 380px;
  left: 1200px;
  width: 250px;
  height: 150px;
  background-color: rgba(210, 35, 42, 0.6);
  opacity: 40%;
}

.review-7 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 40px;
  height: 40px;
}

.review-7 .username {
  font-size: 9px;
}

.review-7 .movie-title,
.review-7 .rating {
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
}

.review-7 .review-title {
  font-size: 13px;
  font-weight: bold;
}

.review-7 .review-content {
  font-size: 10px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-7 .top-line {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review-8 {
  top: 750px;
  left: 960px;
  width: 340px;
  height: 191.25px;
  background-color: rgba(210, 35, 42, 1);
}

.review-8 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 60px;
  height: 60px;
}

.review-8 .username {
  font-size: 13px;
}

.review-8 .movie-title,
.review-8 .rating {
  font-size: 17px;
  margin-top: 17px;
  font-weight: bold;
}

.review-8 .review-title {
  font-size: 15px;
  padding-right: 6.8px;
  font-weight: bold;
}

.review-8 .review-content {
  font-size: 13.5px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-8 .top-line {
  display: flex;
  align-items: center;
  gap: 6.8px;
}

.review-9 {
  top: 1050px;
  left: 430px;
  width: 260px;
  height: 146.25px;
  background-color: rgba(68, 176, 228, 0.6);
}
.review-9 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 45px;
  height: 45px;
}

.review-9 .username {
  font-size: 10px;
}

.review-9 .movie-title,
.review-9 .rating {
  font-size: 16px;
  margin-top: 12px;
  font-weight: bold;
}

.review-9 .review-title {
  font-size: 12px;
  padding-right: 5px;
  font-weight: bold;
}

.review-9 .review-content {
  font-size: 11px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-9 .top-line {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-10 {
  top: 750px;
  left: 450px;
  width: 250px;
  height: 130px;
  background-color: rgba(210, 35, 42, 0.9);
}

.review-10 .user-img img {
  margin: 15px 15px 0px 15px;
  width: 40px;
  height: 40px;
}

.review-10 .username {
  font-size: 8px;
}

.review-10 .movie-title,
.review-10 .rating {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}

.review-10 .review-title {
  font-size: 13px;
  padding-right: 4px;
  font-weight: bold;
}

.review-10 .review-content {
  font-size: 11px;
  margin-top: 3.2px;
  line-height: 1.1rem;
  margin-right: 0.5rem;
}

.review-10 .top-line {
  display: flex;
  align-items: center;
  gap: 4px;
}
