@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background: url("../images/Background.png") no-repeat center center fixed;
  background-size: cover;
  line-height: 1.6;
  padding: 0 1rem;
  color: white;
}

.movie-detail {
  color: white;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.trailer-container {
  text-align: center;
  margin-bottom: 2rem;
}

.trailer-container iframe {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  border-radius: 20px;
  opacity: 0.6;

  box-shadow: 8px 8px 8px black;
}

.movie-main-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.movie-title-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.watch-later-icon {
  width: 45px;
  height: 32px;
  cursor: pointer;
}

.action-icons {
  display: flex;
  gap: 10px;
}

.save-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/*Modal*/
#save-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  border-radius: 20px;
  max-width: 800px;
  margin: 100px auto;
}

.list-select {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.list-option {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.list-option:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#create-new-list-btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  width: 150px;
  margin-top: 1rem;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

#create-new-list-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.close-button {
  cursor: pointer;
}

/*Movie info*/
.movie-poster {
  width: 250px;
  border-radius: 20px;
}

.movie-text {
  flex: 1;
}

.movie-text h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.rating {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.overview {
  font-size: 1.2rem;
  line-height: 1.5;
}

.cast-crew {
  margin-top: 2rem;
}

.cast-crew h2 {
  font-weight: 400;
}

.cast-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.cast-card {
  background: rgba(68, 176, 228, 0.2);
  padding: 1rem;
  border-radius: 20px;
  width: 162px;
  transition: transform 0.3s ease;
  text-align: center;
}
.cast-card:hover {
  transform: scale(1.05);
}

.cast-card img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}

.cast-card p {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

/*Reviews style*/
.reviews-section {
  margin: 5rem auto;
  background: rgba(68, 176, 228, 0.2);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  max-width: 1400px;
  width: 100%;
}

.reviews-section h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: white;
}

.reviews-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.review-card {
  display: flex;
  padding: 1rem;
  border-radius: 20px;
  gap: 1rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.review-card.red {
  background-color: rgba(180, 40, 50, 0.4);
}

.review-card.blue {
  background-color: rgba(60, 176, 228, 0.5);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 80px;
}

.user-img {
  background: rgba(60, 176, 228, 0.7);
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-img img {
  width: 45px;
  margin-top: 7px;
  margin-left: 7px;
}
.username {
  font-size: 0.9rem;
  color: white;
  margin-left: 0.5rem;
}

.review-content {
  flex: 1;
  color: white;
  margin-left: 0.4rem;
}

.review-content h3 {
  font-size: 1.3rem;
}

.review-rating {
  font-size: 1.1rem;
  color: white;
}

.review-text {
  font-size: 1rem;
  line-height: 1.4r;
}

/*Similar movies*/
.similar-section {
  margin: 5rem auto;
  background: rgba(68, 176, 228, 0.2);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  max-width: 1400px;
  width: 100%;
}

.similar-section h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: white;
}

.similar-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2rem;
}

.similar-card {
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  transition: transform 0.3s ease;
  align-items: center;
}

.similar-card:hover {
  transform: scale(1.2);
}

.similar-card img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.similar-card h3 {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.3rem;
}

.similar-card p {
  color: white;
  font-size: 0.9rem;
}

/*Fade animation*/
.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}
